langchain
langchain_community 
langchain_pinecone
langchain_together
pandas
python-dotenv
beautifulsoup4
wikipedia
fastapi
uvicorn
langgraph
openpyxl
scrapy
Pillow
pyown
flashrank
duckduckgo_search
pytrends
trendspy